<div class="games-list-container mat-elevation-z8">
    <div class="games-table-top">
        <mat-form-field>
          <mat-select [(ngModel)]="selectedTeam" [disabled]="teams.length == 1" placeholder="Mannschaft">
            <mat-option *ngFor="let team of teams" [value]="team.teamId">{{ team.teamName }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

  <div class="games-table-top">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtern">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="games">
    <ng-container matColumnDef="gameDay">
      <mat-header-cell *matHeaderCellDef>Spieltag</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.gameDay | date: 'dd.MM.yyyy'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="starting">
      <mat-header-cell *matHeaderCellDef>Beginnzeit</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.starting}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>Beschreibung</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="place">
      <mat-header-cell *matHeaderCellDef>Spielort</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.place}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-mini-fab class="add-btn" (click)="addNew()">+</button>
      </mat-header-cell>
      <mat-cell *matCellDef="let element; let i=index">
        <button mat-icon-button>
          <mat-icon aria-label="Edit" color="primary" (click)="change(element)">edit</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon aria-label="Delete" color="warn" (click)="delete(element)">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>